@import url('https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../assets/background-stars.svg');
  background-color: #070724;
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 32px 27px 32px;
}

.logo {
  color: #FFF;
  font-family: Antonio;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}

.burger {
  display: none;
}

.planets-list {
  display: flex;
  gap: 33px;
}

a {
  text-decoration: none;
  color: #838391;
  font-family: League Spartan;
  font-size: 11px;
  font-weight: 700;
  line-height: 25px; 
  letter-spacing: 1px;
  text-transform: uppercase;
}

a:hover {
  color: white;
  position: relative;
}

a:hover::after {
  content: "";
  display: block;
  position: relative;
  top: -53px;
  height: 4px; 
  background-color: #419EBB;
  margin-bottom: -4px;
}

section {
  width: 1110px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.planet-img {
  width: 450px;
}

.info-box {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.planet-name {
  color: #FFF;
  font-family: Antonio;
  font-size: 80px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.about {
  color: #FFF;
  font-family: League Spartan;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; 
  margin-top: 23px;
  height: 120px;
}

.source {
  color: #38384F;
  font-family: League Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 13px;
}

.wikipedia-style {
  opacity: 0.5;
  color: #838391;
  font-family: League Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-decoration-line: underline;
  text-transform: capitalize;
}

.wikipedia-style:hover {
  color: #FFF;
}

.info-type-btn {
  color: #38384F;
  background-color: transparent;
  border: 1px solid #38384F;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 48px;
  width: 350px;
  padding-left: 28px;
  margin-top: 16px;
  color: #838391;
  font-family: League Spartan;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px; 
  letter-spacing: 2.571px;
  text-transform: uppercase;
}

.info-type-btn:focus {
  background-color: #419EBB;
}

.info-type-btn:hover {
  background: #38384F;
}

.ss {
  color: #FFF;
  font-family: League Spartan;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px; 
  letter-spacing: 2.571px;
  text-transform: uppercase;
  margin-left: 28px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 87px;
}

.footers-info-box {
  width: 255px;
  height: 128px;
  flex-shrink: 0;
  border: 1px solid #838391;
  padding: 20px 50px 27px 23px;
}

.title {
  color: #838391;
  font-family: League Spartan;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title-text {
  color: #FFF;
  font-family: Antonio;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}


@media screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  a:hover::after {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    height: 0px; 
    background-color: #419EBB;
    margin-bottom: 0px;
  }

  .planet-img {
    width: 200px;   
    margin-top: 100px; 
  }

  section {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }

  .info-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 39px 0px 39px;
    margin-top: 120px;
  }

  .about {
    max-width: 340px;
  }

  .info-type-btn {
    width: 281px;
  }

  .info-type-btn:focus {
    background-color: #419EBB;
  }

  .footers-info-box {
    width: 164px;
    height: 88px;
    padding: 10px 0px 19px 15px;
  }

  .title {
    font-size: 8px;
  }

  .title-text {
    font-size: 24px;
  }

}

@media screen and (max-width: 765px) {
  .burger {
    display: block;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
  }

  .planets-list {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: -10px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-top: 20px;
    padding-bottom: 47px;
  }

  .title-text {
    font-size: 20px;
  }

  .footers-info-box {
    width: 327px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 24px;
  }
}